# environment config
.env
.env.yml

### Backend
# coverage
backend/.coverage
backend/coverage

# flask python
backend/.venv
backend/**/__pycache__

# generation
generated_client
generated_apis



### Frontend
dist
.firebase

backend/.springboard-capstone1-fb57fb9dcb29.json
backend/openapi.json
